{:root-url "http://www.allocine.fr"
 :root-path "http://localhost/projects/clojure/glurps/"
 :database-manager-url "http://localhost/projects/clojure/glurps/resources/databases/?sqlite=&username=root&db=allocine.db"
 :database-allocine "/Users/willahh/www/projects/clojure/glurps/resources/databases/allocine.db"}
