{:root-url "http://www.allocine.fr"
 :root-path "http://localhost:3000/project_perso/clojure/glurps/"
 :upload-filepath "/Users/willahh/www/project_perso/clojure/glurps/upload/"
 :upload-path "http://localhost/project_perso/clojure/glurps/upload/"
 :root-filepath "/Users/wravel/www/project_perso/clojure/glurps/"
 :database-manager-url "http://localhost/project_perso/clojure/glurps/resources/databases/?sqlite=&username=root&db=allocine.db"
 :database-allocine "/Users/wravel/www/project_perso/clojure/glurps/resources/databases/allocine.db"}
